<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>stewie</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
          <header>
                <div id="badge"></div></header>
      <section>

        <h2>stewie</h2>
        <h1>system for anomaly detection in mass generic data</h1>

        {% from stewie.human import humanizeTimeDiff %}
        {% for event in events %}
        <span class="time-elapsed">{{ event.get('bucket', '') }} / {{ event.get('target', '') }}  {% if humanizeTimeDiff(event['timestamp']) %} ({{ humanizeTimeDiff(event['timestamp']) }} ago {% else %} Just now {% end %})</span>
        <pre>
          <code>
{% for metric, value in event.get('metrics', {}).items() %}
{{ metric }}: <strong>{{ value }} (σ: {{ "%0.1f" % detector.calculate_the_number_of_standard_deviations(event, metric) }})</strong>
{% end %}
          </code>
        </pre>
        <!-- {{ detector.calculate_total_probability(event) }} --!>
        {% end %}

  </body>
</html>
