<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>stewie</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
          <header>
                <div id="badge"></div></header>
      <section>

        <h2>stewie</h2>
        <h1>system for anomaly detection in mass generic data</h1>

        {% from stewie.human import humanizeTimeDiff %}
        {% for event in events %}
        <span class="time-elapsed">{% if humanizeTimeDiff(event['timestamp']) %}{{ humanizeTimeDiff(event['timestamp']) }} ago {% else %} Just now {% end %}</span>
        <pre>
          <code>
            <a href="#">
              {{ event.get('bucket', '') }} / {{ event.get('target', '') }}
            </a>
            {% for metric, value in event.get('metrics', {}).items() %}
              {{ metric }}: <strong>{{ value }}</strong>
            {% end %}
          </code>
        </pre>
        {% end %}

  </body>
</html>
